<nb-layout>

    <nb-layout-header fixed>
        <div class="container-fluid p-0 m-0">
            <h1>
                <!--TODO update to angular 12-->
                <!--TODO rss feed with announcements https://steamcommunity.com/groups/meatloaftf/rss/-->
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Team_Fortress_2_style_logo.svg/1024px-Team_Fortress_2_style_logo.svg.png"
                    alt="tf2" class="align-self-start">
                <!--            <nb-user picture="https://i.redd.it/ixaiw1imvu651.png" showName="false"></nb-user>-->
                <!--                <strong>-->
                meatloaf.tf
                <!--                </strong>-->
            </h1>
            <!--            https://steamcommunity.com/groups/meatloaftf-->
            <!--            https://discord.gg/jW5YrWGv3x-->
        </div>
    </nb-layout-header>

    <nb-layout-column>

        <div class="container col-12">
            <div class="col-9">
                <div>We're back!</div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mt-4">
                        <div *ngIf="serverStatus | async else offline"></div>
                    </div>
                </div>
                <div class="col-2">
                    <button nbButton status="success">
                        <a class="d-flex text-white"
                           href="steam://connect/167.179.175.30:27015">
                            <nb-user [showName]="false"
                                     picture="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1024px-Steam_icon_logo.svg.png"></nb-user>
                            <div class="my-auto">
                                Connect
                            </div>
                        </a>
                    </button>
                    <button nbButton status="info">
                        <a class="d-flex text-white"
                           href="https://steamcommunity.com/groups/meatloaftf">
                            <nb-user [showName]="false"
                                     picture="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1024px-Steam_icon_logo.svg.png"></nb-user>
                            <div class="my-auto">
                                Steam Group
                            </div>
                        </a>
                    </button>
                    <hr>
                    <button nbButton status="success">
                        <a class="text-white" href="mailto:meatloaf.tf@gmail.com">Contact</a>
                    </button>
                </div>
                <div class="col-3">
                    <iframe src="https://discord.com/widget?id=843452792139153408&theme=dark" width="350" height="300"
                            allowtransparency="true" frameborder="0"
                            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
            </div>
            <!--            steam://connect/us1.uncledane.com:27015-->
            <app-youtube *ngIf="show"></app-youtube>

            <ng-template #offline>
                <div class="p-4 shadow">{{'Server is offline'}}</div>
            </ng-template>

            <div class="py-3">
                <div *ngIf="serverStatus | async as et else offline" class="py-3 shadow col">
                    <div>{{'Server is ' + (et ? 'online' : 'offline')}}</div>
                    <!--                    <div>-->
                    <!--                        <div class="row my-1 col" *ngFor="let e of et">{{e}}</div>-->
                    <!--                    </div>-->
                    <div *ngIf="playerList && playerList.length" class="pt-3">
                        <div class="row my-1">
                            <div class="col-1">userid</div>
                            <div class="col">name</div>
                            <div class="col">uniqueid</div>
                            <div class="col">connected</div>
                            <div class="col-1">ping</div>
                            <div class="col-1">loss</div>
                            <div class="col-1">state</div>
                            <div class="col-1">adr</div>
                        </div>
                        <hr>
                        <div class="row my-1" *ngFor="let e of playerList">
                            <div class="col-1">{{e.userid}}</div>
                            <div class="col">{{e.name}}</div>
                            <div class="col">{{e.uniqueid}}</div>
                            <div class="col">{{e.connected}}</div>
                            <div class="col-1">{{e.ping}}</div>
                            <div class="col-1">{{e.loss}}</div>
                            <div class="col-1">{{e.state}}</div>
                            <div class="col-1">{{e.adr}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 shadow">
                <div *ngIf="playerRanks | async as et" class="col">
                    <div *ngIf="et && et.length">
                        <div class="row rankhead">
                            <div class="col-1 text-capitalize">Rank</div>
                            <div class="col text-capitalize">Nickname</div>
                            <div class="col text-capitalize">Points</div>
                            <div class="col-1 text-capitalize">Ratio</div>
                            <div class="col-1 text-capitalize">kills</div>
                            <div class="col-1 text-capitalize">deaths</div>
                            <div class="col text-capitalize">last login</div>
                        </div>
                        <hr class="">
                        <div *ngFor="let row of et; let i = index" class="row">
                            <div class="col-1">{{i + 1}}</div>
                            <div class="col" [nbTooltip]="row.steamid">{{row.nickname}}</div>
                            <div class="col">{{row.points | number: '0.0-0'}}</div>
                            <div class="col-1">{{calculateRatio(row.kills, row.deaths)}}</div>
                            <div class="col-1">{{row.kills}}</div>
                            <div class="col-1">{{row.deaths}}</div>
                            <div class="col">{{row.seen}}</div>
                            <!--                        <div class="col">{{row.seen | date:'dd/MM/yyyy hh:mm'}}</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <button nbButton status="primary" size="tiny" (click)="show = !show">
                I am the cool
            </button>
        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
        <div class="col-2">
            <!--            <button nbButton status="success">-->
            <!--                <a class="text-white" href="mailto:meatloaf.tf@gmail.com">Contact</a>-->
            <!--            </button>-->
        </div>
        <div class="col" *ngIf="quote | async as q else noquote">
            <div *ngIf="q && q.quote">
                <div *ngFor="let f of q.quote.lines; let i = index" class="lebowski col-8">
                    <div>
                        <small>
                            {{f.character.name}}
                        </small>
                    </div>
                    <small>
                        {{f.text}}
                    </small>
                </div>
            </div>
        </div>
        <ng-template #noquote>
            <div class="lebowski col-8"></div>
            <div class="lebowski col-8 font-italic">
                <div>
                    <small>
                        "Sometimes you eat the bear,
                    </small>
                </div>
                <small> and sometimes the bear eats you"</small>
            </div>
        </ng-template>
    </nb-layout-footer>

</nb-layout>
